*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.headbit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #F55A5A;
}

.headbit-container > .head-title{
    color: rgb(255, 255, 255);
    max-width: 300px;
}

.body-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-container{
    display: flex;
    padding: 20px;
}
.card-thumbnail{
    width: 125px;
    height: 168px;
    border-radius: 5px;
}

.card-right{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-right > .location-horizontal{
    display: flex;
    align-items: center;
    font-size: 10px;
}

.card-right > .location-city{
    margin-top: 7px;
    font-weight: 700px;
    font-size: 25px;
}

.card-right > .location-date{
    margin-top: 7px;
    color: #2B283A;
    font-size: 10px;
    font-weight: bold;
}

.card-right > .location-notes{
    margin-top: 7px;
    max-width: 400px;
    font-weight: 400px;
    font-size: 10px;
}

.card-right > .location-horizontal> .location-icon{
    width: 7px;
    height: 9px;
}



.card-right > .location-horizontal> .location-country{
    font-size: 10px;
    margin-left: 10px;
    color: #2B283A;
    letter-spacing: 0.17em;
}

.card-right > .location-horizontal> .location-googlemaps-link{
    margin-left: 10px;
    color: #918E9B
}


